[submodule "spec"]
	path = spec
	url = https://github.com/WebAssembly/spec
	commit = 683e40265dc1665a6967b193afe167397a1004ee
[submodule "spec2test"]
	path = spec2test
	url = https://github.com/erxiaozhou/spec2tcs
[submodule "cp910_runtime_tester"]
	path = cp910_runtime_tester
	url = https://github.com/erxiaozhou/cp910_runtime_tester.git
